@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All messages, usernames, and IP addresses associated with usernames and messages will be recorded and logged by the owner of this application. The information will not be provided/sold to any third parties. There is no way to opt out of the information collected, as they are fundamental for the operation of the chatroom.</p>
